body {
  background-color: #FFFFFF;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin: 0;
  padding: 0;
  padding-top: 70px;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  background-color: #E3D3C8;
}
#header .title {
  font-size: 18px;
  color: #999999;
}
#header-center {
  width: 280px;
}
#header-center ul {  
  list-style-type: none;
  padding: 0;
  text-align: center;
}
#header-center li a {
  font-family: "Comic Sans MS", "Palatino Linotype", "Times", serif;
  float: left;
  border-top: 4px inset #E3D3C8;  
  font-size: 10px;
  width: 120px;
  top: 10px;
  line-height: 5px;
  color: black;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0px 10px;
  border-radius: 4px 4px 0px 0px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #FFFFFF;
  cursor: pointer;
}
#selectedQualityNormal.selected {
  border-top-color: #98FF21;
  box-shadow: inset 0 0 40px 1px #98FF21;
}
#selectedQualityGolden.selected {
  border-top-color: gold;
  box-shadow: inset 0 0 40px 1px gold;
}
#selectedQualityNormal:hover {
  box-shadow: inset 0 0 40px 1px #98FF21;
}
#selectedQualityGolden:hover {
  box-shadow: inset 0 0 40px 1px gold;
}
/* ------------------------------------------- */
#container {  
  margin: 0px auto;
  max-width: 900px;
}
#content {
  float: left;
  margin-bottom: 5px;
}
/* ---------------- classTabs ---------------- */
#classTabs ul {
  list-style-type: none;
  padding: 0;
  margin: 0;  
  text-align: center;
}
#classTabs li a {
  font-family: "Comic Sans MS", "Palatino Linotype", "Times", serif;
  float: left;
  overflow: hidden;
  text-align: center;
  border: 5px double #98BF21;
  border-bottom-width: 0;
  text-decoration: none;
  font-size: 10px;
  min-height: 53px;
  width: 100%;
  color: black;
  font-weight: bold;
  padding: 10px 0;
  margin: 0px 0px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
}
#classTabs .neutral, #classTabsBar.neutral {
  background-color: #736358;
  border-color: #938378;  
}
#classTabs .druid, #classTabsBar.druid {
  background-color: #855C33;
  border-color: #C59C73;
}
#classTabs .hunter, #classTabsBar.hunter {
  background-color: #709020;
  border-color: #90B040;
}
#classTabs .mage, #classTabsBar.mage{
  background-color: #80B2FF;
  border-color: #A0D2FF;
}
#classTabs .paladin, #classTabsBar.paladin {
  background-color: #EBC84D;
  border-color: #FBE86D;
}
#classTabs .priest, #classTabsBar.priest {
  background-color: #F7FAFA;
  border-color: #DDDDDD;
}
#classTabs .rogue, #classTabsBar.rogue {
  background-color: #1C1C1C;
  border-color: #3C3C3C;
  color: #C59C73;
}
#classTabs .shaman, #classTabsBar.shaman {
  background-color: #191987;
  border-color: #3939A7;
  color: #C59C73;
  /*color: #A9A9F7;*/
}
#classTabs .warlock, #classTabsBar.warlock {
  background-color: #470047;
  border-color: #672067;
  color: #C59C73;
}
#classTabs .warrior, #classTabsBar.warrior {
  background-color: #6B0000;
  border-color: #8B2020;
  color: #C59C73;  
}
#classTabsBar {
  height: 25px;
  border: 3px ridge;
}
/* ------------------------------------------- */
/* ---------------- classCards --------------- */
#classCards ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;  
}
#classCards li a {
  font-family: "Comic Sans MS", "Palatino Linotype", "Times", serif;  
  border: 1px solid #DDDDDD;
  text-decoration: none;  
  font-size: 10px;
  overflow: hidden;
  display: block;
  color: black;
  font-weight: bold;
  padding: 10px 8px;
  margin: 0px 1px;
  margin-bottom: 2px;
  border-radius: 4px 4px 4px 4px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
}
#classCards #list_free a:hover {
  background-color: rgba(174, 163, 60, 0.2);
}
#classCards #list_free .normal1 {
  background-color: rgba(174, 163, 60, 0.2);
}
#classCards #list_free .golden1 {
  box-shadow: inset 0px -5px 0px 0px rgba(174, 163, 60, 0.7);
}
#classCards #list_free .normal1:hover {
  background-color: rgba(174, 163, 60, 0.5);
}
#classCards #list_free .normal2 {
  background-color: rgba(174, 163, 60, 0.5);
}
#classCards #list_free .golden2 {
  box-shadow: inset 0px 0px 0px 2px rgba(174, 163, 60, 0.7);
}
#classCards #list_free .normal2:hover {
  background-color: rgba(94, 111, 121, 0.5);
}
#classCards #list_common a:hover {
  background-color: rgba(94, 111, 121, 0.2);
}
#classCards #list_common .normal1 {
  background-color: rgba(94, 111, 121, 0.2);
}
#classCards #list_common .golden1 {
  box-shadow: inset 0px -5px 0px 0px rgba(94, 111, 121, 0.7);
}
#classCards #list_common .golden2 {
  box-shadow: inset 0px 0px 0px 2px rgba(94, 111, 121, 0.7);
}
#classCards #list_common .normal1:hover {
  background-color: rgba(94, 111, 121, 0.5);
}
#classCards #list_common .normal2 {
  background-color: rgba(94, 111, 121, 0.5);
}
#classCards #list_common .normal2:hover {
  background-color: rgba(94, 111, 121, 0.5);
}
#classCards #list_rare a:hover {
  background-color: rgba(43, 136, 234, 0.2);
}
#classCards #list_rare .normal1 {
  background-color: rgba(43, 136, 234, 0.2);
}
#classCards #list_rare .golden1 {
  box-shadow: inset 0px -5px 0px 0px rgba(43, 136, 234, 0.7);
}
#classCards #list_rare .golden2 {
  box-shadow: inset 0px 0px 0px 2px rgba(43, 136, 234, 0.7);
}
#classCards #list_rare .normal1:hover {
  background-color: rgba(43, 136, 234, 0.5);
}
#classCards #list_rare .normal2 {
  background-color: rgba(43, 136, 234, 0.5);
}
#classCards #list_rare .normal2:hover {
  background-color: rgba(43, 136, 234, 0.5);
}
#classCards #list_epic a:hover {
  background-color: rgba(227, 62, 255, 0.2);
}
#classCards #list_epic .normal1 {
  background-color: rgba(227, 62, 255, 0.2);
}
#classCards #list_epic .golden1 {
  box-shadow: inset 0px -5px 0px 0px rgba(227, 62, 255, 0.7);
}
#classCards #list_epic .golden2 {
  box-shadow: inset 0px 0px 0px 2px rgba(227, 62, 255, 0.7);
}
#classCards #list_epic .normal1:hover {
  background-color: rgba(227, 62, 255, 0.5);
}
#classCards #list_epic .normal2 {
  background-color: rgba(227, 62, 255, 0.5);
}
#classCards #list_epic .normal2:hover {
  background-color: rgba(227, 62, 255, 0.5);
}
#classCards #list_legendary a:hover {
  background-color: rgba(255, 149, 9, 0.6);
}
#classCards #list_legendary .normal1 {
  background-color: rgba(255, 149, 9, 0.6);
}
#classCards #list_legendary .normal1:hover {
  background-color: rgba(255, 149, 9, 0.6);
}
#classCards #list_legendary .golden1 {
  box-shadow: inset 0px 0px 0px 2px rgba(255, 149, 9, 1);
}
#classCards li a:hover {
  background-color: orange;
}
/* ------------------------------------------ */
#missingCardsWrap {
  position: relative;
  float: left;
}
/* ---------------- missingCards ---------------- */
#missingCards {
  position: fixed; 
  margin-top: 75px;
  padding-left: 2px;
  background-color: #E3D3C8;
  border: 1px solid black;
  font-family: "Palatino Linotype", Palatino, Palladio, "URW Palladio L", "Book Antiqua", serif;
}
#missingCards table {
  width: 100%;
  margin-bottom: 10px;  
}
#missingCards td{
  padding: 2px 5px;
  font-size: 16px;
}
#missingCards td.tdHeader {
  font-weight: bold;
  color: #AA5577;
}
#missingCards h4 {
  color: #552255;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
#missingCards td[id*="Dust"] {
  color: rgba(50, 150, 215, 1.0);
}
#missingCards td[id*="Normal"] {
  color: rgba(50, 150, 0, 1.0);
}
#missingCards td[id*="Golden"] {
  color: rgba(200, 150, 0, 1.0);
}
/* ---------------------------------------------- */
#footer {
  position: relative;  
  clear: left;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: auto;
  background-color: #736358;
}
[contenteditable="true"] {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: red;
  white-space: normal;
  overflow: hidden;		
} 
[contenteditable="true"] br {
  display:none;
}
[contenteditable="true"] * {
  display: block;
  white-space:normal;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}
.col-xs-10ths,
.col-sm-10ths,
.col-md-10ths,
.col-lg-10ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-10ths {
    width: 10%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-10ths {
        width: 10%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-10ths {
        width: 10%;
        float: left;
    }
}
.nopadding {
  padding-left: 0;
  padding-right: 0;
}
/*
#content:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(hs.jpg);
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
	background-size: 100% 100%;
}

   #98004a
   #ff3296
*/