body {
  background-color: #FFFFFF;
  font-size: 100%;
  /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
  margin: 0;
  padding: 0;
}
[contenteditable="true"] {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: red;
  white-space: normal;
  overflow: hidden;		
} 
[contenteditable="true"] br {
  display:none;
}
[contenteditable="true"] * {
  display: block;
  white-space:normal;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header{
  position: fixed;
  margin: auto;
  top: 0px;
  vertical-align: middle;
  line-height: 50px;
  width: 100%;
  height: 50px;
  background-color: #E3D3C8;
  z-index: 1;
}
#header-left {
  float: left;
  margin-left: 20px;
}
#header-center {
  position: relative;
  top: 10px;
  width: 280px;
  margin: 0 auto;
}
.brand {  
  font-size: 20px;
  color: #999999;
}
#header-center ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
}
#header-center li a {
  font-family: "Comic Sans MS", "Palatino Linotype", "Times", serif;
  float: left;
  border-top: 4px inset #FFFFFF;  
  text-decoration: none;
  font-size: 0.65em;
  width: 120px;
  height: 5px;
  line-height: 6px;
  display: block;
  color: black;
  font-weight: bold;
  padding: 10px 0px;
  margin: 0px 10px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
  background-color: #FFFFFF;
  cursor: pointer;
}
#container {
  position: relative;
  margin: 0px auto;
  max-width: 880px;
  top: 75px;
}
#page-wrap {
  position: relative;
  float: left;
  max-width: 350px;
}
#missingCards {
  position: fixed;
  width: 350px;
  margin-top: 165px;
  margin-left: 50px;
  background-color: #E3D3C8;
  border: 1px solid black;
  height: 300px;
}
table {
  width: 100%;
  margin-bottom: 50px;
}
td{
  padding: 2px 5px;
}
td.tdBold {
  font-weight: bold;
}
h4 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
#content {
  float: left;
  margin-bottom: 5px;
  max-width: 880px;
  overflow: auto;
}
#classTabs {
}
#classTabs ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
#classTabs li a {
  font-family: "Comic Sans MS", "Palatino Linotype", "Times", serif;
  float: left;
  border-collapse: collapse;
  border: 5px double #98BF21;
  border-bottom-width: 0;
  text-decoration: none;
  font-size: 0.65em;
  width: 62px;
  height: 30px;
  display: block;
  color: black;
  font-weight: bold;
  padding: 10px 8px;
  margin: 0px 0px;
  border-radius: 4px 4px 0px 0px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
}
#classTabs .neutral, #classTabsBar.neutral {
  background-color: #736358;
  border-color: #938378;
}
#classTabs .druid, #classTabsBar.druid {
  background-color: #855C33;
  border-color: #C59C73;
}
#classTabs .hunter, #classTabsBar.hunter {
  background-color: #709020;
  border-color: #90B040;
}
#classTabs .mage, #classTabsBar.mage{
  background-color: #80B2FF;
  border-color: #A0D2FF;
}
#classTabs .paladin, #classTabsBar.paladin {
  background-color: #EBC84D;
  border-color: #FBE86D;
}
#classTabs .priest, #classTabsBar.priest {
  background-color: #F7FAFA;
  border-color: #DDDDDD;
}
#classTabs .rogue, #classTabsBar.rogue {
  background-color: #1C1C1C;
  border-color: #3C3C3C;
  color: #C59C73;
}
#classTabs .shaman, #classTabsBar.shaman {
  background-color: #191987;
  border-color: #3939A7;
  color: #C59C73;
  /*color: #A9A9F7;*/
}
#classTabs .warlock, #classTabsBar.warlock {
  background-color: #470047;
  border-color: #672067;
  color: #C59C73;
}
#classTabs .warrior, #classTabsBar.warrior {
  background-color: #6B0000;
  border-color: #8B2020;
  color: #C59C73;
}
#classTabsBar {
  height: 25px;
  width: 874px;
  border: 3px ridge;
}

/*
#content:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(hs.jpg);
    width: 100%;
    height: 100%;
    opacity : 0.1;
    z-index: -1;
	background-size: 100% 100%;
}
*/
#classCards ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  float: left;
  text-align: center;
  width: 176px;
}
#classCards .golden1 {
  border-color: gold;
}
#classCards .golden2 {
  border-color: gold;
  box-shadow: inset 0 0 0 3px gold;
}
#classCards .normal1 {
  background-color: #FFFF66;
}
#classCards .normal2 {
  background-color: #98FF21;
}
/* #98004a
   #ff3296
*/
#classCards li a {
  font-family: "Comic Sans MS", "Palatino Linotype", "Times", serif;
  border-collapse: collapse;
  border: 2px solid #DDDDDD;
  text-decoration: none;
  font-size: 0.65em;
  width: 150px;
  display: block;
  color: black;
  font-weight: bold;
  padding: 10px 10px;
  margin: 0px 1px;
  margin-bottom: 2px;
  border-radius: 4px 4px 4px 4px;
  text-transform: uppercase;
  background-color: white;
  cursor: pointer;
}
#classCards #list_free a, #classCards #list_common a {

}

#classCards #list_rare a {

}
#classCards #list_epic a {

  /*background-color: rgba(238, 210, 238, 1);*/
}
#classCards #list_legendary a {  

}
#classCards li a:hover {
  background-color: orange;
}
#footer {
  position: relative;
  top: 100px;
  clear: left;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  margin: auto;
  background-color: #736358;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}